.mod_slider_inner img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.mod_slider_inner .left
{
        padding-top:0px;
        float:none;
        margin:0px;
        width: auto;

}